
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

body{
  height: 100vh;
}

header{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  letter-spacing: 1.5px;
  color: hsl(234, 12%, 34%);
}

header .header-title{
  width: 40%;
}

header h1 {
  font-weight: 600;
  font-size: 2rem;
}

header h2 {
  font-size: 2rem;
  font-weight: 200;
  line-height: 2;
}

header p {
  font-weight: 200;
  font-size: 1rem;
  line-height: 2;
  color: hsl(229, 6%, 66%);
  padding-top: 30px;
}

.card-grid{
  display: grid;
  grid-template: auto / repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  padding: 0 10%;
  grid-gap: 2rem;
  margin: auto;
  max-width: 1440px;

}

.card-grid .col-one{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.card-grid .col-three{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.card-grid .card {
  width: 100%;

  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  border-top: 5px solid;
  margin-top: 50px;

  -webkit-box-shadow: 0px 20px 38px -10px rgba(0,0,0,0.15);
   -moz-box-shadow: 0px 20px 38px -10px rgba(0,0,0,0.15);
   box-shadow: 0px 20px 38px -10px rgba(0,0,0,0.15);
}

.card-grid .card-1{border-color: hsl(0, 78%, 62%);}
.card-grid .card-2{border-color: hsl(180, 62%, 55%);}
.card-grid .card-3{border-color: hsl(34, 97%, 64%);}
.card-grid .card-4{border-color: hsl(212, 86%, 64%);}

h3{
  font-size: 24px;
  color: hsl(234, 12%, 34%);
}

.card p {
  line-height: 2;
  font-size: 0.9365rem;
}

.card-grid img {
  display: block;
  padding: 50px 10px 0 40px;
  margin-left: auto;
}

footer{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  text-align: center;
  padding: 2rem;
}

a{
  text-decoration: none;
  color: hsl(229, 6%, 66%);
}

@media (max-width: 1205px){

  header .header-title{
    width: 100%;
  }

  header .header-title > p{
    width: 70%;
    margin: 0 auto;
    font-size: 12px;
  }

  .card-grid{
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .card{
    width: 100%;

    margin: auto;
    margin-top: 20px;
  }

}

@media (max-width: 600px){
  header .header-title > h1 {
    font-size: 1.25rem;
  }

  header .header-title > h2 {
    font-size: 1.25rem;
  }

  h3{
    font-size: 1rem;
    color: hsl(234, 12%, 34%);
  }

  .card p {
    line-height: 2;
    font-size: 0.75rem;
  }

}
